euparc:
  database:
    user:
      - login:    DATASETUSER
        password: DATASETPASSWORD
      - login:    DATABASEUSER
        password: DATABASEPASSWORD
  workspaces:
    irods:
      - user: wrkspuser
        password: passWORD
